.bgdedo1{
    background-color: #2A2A3E;
}

.edit-btn{
    background-color: #736AFA;
    color:white;
}

.border-input{
    padding-left: 10px;
    color:white;
border:solid 0.5px rgba(165, 165, 165, 0.238);
}

.my-data-heading{
    background-color: #746bf4;
}

.bgdedo2{
    background-color: rgba(57, 56, 56, 0.685);
    color:white
}