<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
           <p>Enter Details</p>
           
           <div>
               <p>Choose Grid Size</p>
               <div class="choices-grid "> <p id="3">3x3</p> <p id="4">4x4</p> <p id="5">5x5</p> <p id="6">6x6</p> <p id="7">7x7</p> <p id="8">8x8</p></div> 
           </div>
            <div><button>Play with human</button>
                <button>plat with computer</button>
            </div>
           
    </div>
</body>
</html>